/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


a {
  color:black;
}

/* About page */

.page-about{
  p {
    font-size: 1.1rem;
    font-weight: $font__line-height-body;
  }
  .site-header {
  position: fixed;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  background-color: white;
  opacity: 0.7;
  }
  .entry-title{
  position: relative; bottom: 600px; left: 45%;
  font-size: 3rem;
  color: white;
  }
  .entry-content  {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    line-height: 1.75;
    padding-bottom: 20px;
  }
  h2  {
    text-align: center;
    font-size: 2rem;
  }
  .about-hero-img {
    background: rgba(0, 0, 0, 0.3);
    img {
      max-width: 100%;
      position: relative;
      z-index: -1;
    }
  } 

}

/* Find Us page */

.page-contact {
  .big-container {
    display: flex;
  }
  .site-header {
    display: flex;
    align-items: center;
    position: sticky ;
    top: 0;
    height: 3em;
    opacity: 0.9;
    background-color: $color__background-body;  
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 11rem;
    padding-top: 2.5rem;
    }
  .site-content {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
  }
  .content-area {
    width:70%;
    padding-right: 4rem;

  }
  .widget-area {
    width:30%;
    padding-top: 6rem;
    padding-left: 4rem;
    border-left: 1px solid #e1e1e1;
  }
  .wpcf7{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    
    p {
      font-size: 1.3rem;
      grid-column: span 2;
    }
    label {
      text-transform: uppercase;
    }
   
    .wpcf7-form-control-wrap{
       font-size: 1.8rem;
       text-transform:uppercase ;
     }
    .comment-form-cookies-consent{
      display: none;
    }
    .wpcf7-textarea {
      grid-column: span 2;
    }
    
  }
}

/* Journal page */

.blog {
  .big-container {
    display: flex;
  }
  .site-header {
    display: flex;
    align-items: center;
    position: fixed ;
    top: 0;
    height: 3em;
    opacity: 0.9;
    background-color: $color__background-body;  
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 11rem;
    
  }
  .entry-header {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 30rem;
    
    .entry-title {
      position: absolute;
      top: 2;
      background-color: $green_background;
      color: white;
      padding: .75rem 1.5rem;
    }
    .entry-meta {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $green_background;
      color: white;
    }
  }
  .site-content {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
  }
  .content-area {
    width:70%;
    padding-right: 4rem;
    padding-left: 10rem;
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
  }
  .widget-area {
    width:30%;
    padding-top: 6rem;
    padding-left: 4rem;
    margin-right: 6rem;
    border-left: 1px solid #e1e1e1;
  }
}
/*Single blog page*/
.single-post {
  .big-container {
    display: flex;
  }
  .site-header {
    display: flex;
    align-items: center;
    position: fixed ;
    top: 0;
    height: 3em;
    opacity: 0.9;
    background-color: $color__background-body;  
    padding: 2rem;
    padding-right: 11rem;
    padding-left: 10rem;
    
  }
  .entry-header {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 30rem;
    
    .entry-title {
      position: absolute;
      top: 3;
      background-color: $green_background;
      color: white;
      padding: .75rem 1.5rem;
    }
    .entry-meta {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $green_background;
      color: white;
    }
  }
  
  .site-content {
    display: flex;
    flex-direction: row;
  }
    .content-area {
      width:70%;
      padding-right: 4rem;
      padding-left: 10rem;
      padding-top: 5.5rem;
      padding-bottom: 3.5rem;
      img{
        height: 500px;
        max-width: 100%;
      }
    }
  .widget-area {
    width:30%;
    padding-top: 6rem;
    padding-left: 4rem;
    margin-right: 6rem;
    border-left: 1px solid #e1e1e1;
  }
  .comment-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .comment-reply-title{
      font-size: 1.8rem;
      text-transform:uppercase ;
    }
    p {
      font-size: 1.3rem;
      grid-column: span 2;
    }
    label {
      text-transform: uppercase;
    }
    span {
      color: $orange_brand;
    }
    .comment-form-cookies-consent{
      display: none;
    }
    .comment-form-email {
      grid-column: span 1;
    }
    .comment-form-author {
      grid-column: span 1;
    }
    .comment-form-url {
      grid-column: span 2;
      input{

        width: 100%;
      }
    }
    .form-submit {
      .submit {
        background: $green_background;  
        border: none;
        border-radius: 0;
        color: #fff;
        font-size: 14.4px;
        font-size: .9rem;
        line-height: 1;
        padding: .75rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        box-shadow:none;
        text-shadow:none;
      }
    }
  }
}

/* Shop Stuff page */

.post-type-archive {

  .site-header {
    display: flex;
    align-items: center;
    position: fixed ;
    top: 0;
    height: 3em;
    opacity: 0.9;
    background-color: $color__background-body;  
    padding: 2rem;
    padding-top: 3.5rem;
    .container{
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
    }
  }
  .shopstuff {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top:8rem;
    padding-bottom:2rem;
  }
  .site-main{
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
  }
  .products-taxonomies-list {
    display: flex;
    justify-content: center;
    padding-bottom:4rem;
    border-bottom: dashed 1px #8d8c8c;
      a {
        margin: 0 1.5rem;
        color: black;
        text-decoration: none;
      }
    }
  .products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 3rem;
  }
  .product-items {
    border: 1px solid #e1e1e1;
  }
  .info-container{
    display: flex;
    justify-content: space-between;
  }
  
}


/*Front Page*/
.home {
  width: 100%;
  a {
    text-decoration: none;
    color: $color__text-screen;
  }
  .site-header {
    position: fixed;    
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    background-color: white;
    opacity: 0.7;
    padding-right: 10px;
    
  }
  .frontpage-banner{
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .banner {
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 97vh;
    filter: brightness(62%);
   }
  .banner-logo {
    position: absolute;
    margin: 0 auto;
    height: 300px;
    left: calc(50% - 100px);
    z-index: 3;
  }
  .main-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    .shop-title {
      text-align: center;
      padding-top: 30px;
      font-size: 43px;
      font-weight: $base_line-height;
    }
    .post-list {
      grid-row: span 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      grid-gap: 10px;
      height: 500px;
      article {
       border: 1px solid #e1e1e1;
       .entry-content {
        display: none;
       }
      }
      img{
       border-bottom: 5px solid $color__background-hr;
      }
    }
    .journal-list {
      text-align: center;
      padding-bottom: 30px;
      height: 20px;
    }
    .products-taxonomies-front {
      grid-row: span 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-bottom: 4.5rem;
      padding-top: 4rem;


      button{
        background-color: $green_background;
        box-shadow:none;
        text-shadow:none;
        color: $color__background-body;
        text-transform: uppercase;
      }
      a{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #e1e1e1;
      border-top-width: 5px;
      padding: .75rem;
      width: 300px;

      &:hover{
        border: 1px solid $orange_brand;
        border-top: 5px solid $orange_brand;
      }
      
      .front-page-taxonomies-icons{
        height: 70px;
        width: 70px;
        
      }
    }
     p {
      margin-bottom: 1.5rem;
     }
    }
    .entry-header {
      padding-bottom: 10px;

    }
    .entry-title {
      text-transform: uppercase;
    }
    
    .posted-on{
      padding-left: 15px;
    }

  
    h2{
      padding-left: 15px;

    }
    .link-button{
      padding-bottom: 20px;
      padding: .6rem 1rem .4rem;
      border: 0.6px solid $light_grey_brand;
      color: #000;
      margin-left: 15px;
      &:hover{
       border: 1px solid $green_background;
       background-color: $green_background;
       color: $color__background-body;
      }
    }
  }
}

/*Single Product Page*/
.single-product_type{
  .site-header {
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background-color: $color__background-body;  
  }
  .product_type {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 11rem;
    ;
    img {
      height: 400px;
      width: auto;
      padding-left: 8rem;
    }
    .product-info{
      width: 45%;
      padding-right: 10rem;
      padding-left: 2rem;
      .entry-title {
        color: $orange_brand;
      }
    }
  }
}

/*taxonomy-product_taxonomy(Product type page)*/
.tax-product_taxonomy {
  
  
  .site-header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    height: 3em;
    opacity: 0.7;
    background-color: $color__background-body;  
    padding: 2rem;
    padding-top: 2.5rem;
    .container {
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
    }
  }
  .site-main{
     margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-top: 4rem;
  }
  .page-header{
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    border-bottom: dashed 1px #8d8c8c;
    padding-bottom: 0;

  }
  .shopstuff {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 4rem;
  }
    .products-taxonomies-list {
      display: flex;
      justify-content: center;
      a {
        margin: 0 1.5rem;
        color: black;
        text-decoration: none;
      }
    }
  .products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 7.5rem;
  }
  .product-items {
    border: 1px solid #e1e1e1;
  }
  .info-container{
    display: flex;
    justify-content: space-between;
  }
}
/*Archive page*/
.archive{
  .big-container {
    display: flex;
  }
  .site-header {
    display: flex;
    align-items: center;
    position: fixed ;
    top: 0;
    height: 3em;
    opacity: 0.9;
    background-color: $color__background-body;  
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 11rem;
    padding-top: 4rem;
    
  }
  .entry-header {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 30rem;
    
    .entry-title {
      position: absolute;
      top: 2;
      background-color: $green_background;
      color: white;
      padding: .75rem 1.5rem;
    }
    .entry-meta {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $green_background;
      color: white;
    }
  }
  .site-content {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
  }
  .content-area {
    width:70%;
    padding-right: 4rem;
    padding-left: 10rem;
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
  }
  .widget-area {
    width:30%;
    padding-top: 6rem;
    padding-left: 4rem;
    margin-right: 6rem;
    border-left: 1px solid #e1e1e1;
  }
}